
/* ***Responsive media query*** */

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1500px){ 
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
   
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
   
}

/* Extra small devices (portrait phones, less than 768px) */
@media (max-width: 767.98px) { 
  .title {
    font-size: 25px;
} 
h2 {
    font-size: 18px;
    padding-bottom: 20px;
}
p {
    font-size: 16px;
    line-height: 1.5;
        margin-bottom: 15px;
    }
    a {
    font-size: 16px;
}
main {
    margin-top: 30px;
    padding: 20px;
    }
    h1 {
    font-size: 35px;
    font-weight: 700;
}
.header-text p {
    color: #4d4d4d;
    font-family: "Poppins", sans-serif;
    font-size: 14px !important;
    }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
   
}